body {
    text-align: center;
}

.camera_img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

/* 화면 구성 틀 */
.screen_layout {
    padding: 10px;
    justify-content: center;
}

/* 테두리 스타일 */
.rectangle {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 0px, 15%, 0px 15%; 
}

/* 작은 테두리 스타일 */
.shadow-rect {
    border-style: none;
    box-shadow: 2px 2px 5px #888;
    border-radius: 10px;
    object-fit: cover;
    padding: 10px;
    width: auto;
    height: auto; 
}

.shadow-rect-fill {
    border-style: none;
    box-shadow: 2px 2px 5px #888;
    border-radius: 10px;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%; 
}

/* 폰트 타이틀 */
.title{
    text-align: center;
    color: #000000;
    font-family: "NanumGothic-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

/* 폰트 내용 */
.text{
    color: #000000;
    text-align: left;
    font-family: "NanumGothic-Bold", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;   
    padding-left: 20px; 
}

/* 폰트 내용2: 가운데 정렬 */
.div_text2{
    color: #000000;
    text-align: center;
    font-family: "NanumGothic-Bold", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;   
    padding-left: 10px; 
    padding-right: 10px; 
}

/* 폰트 리스트 목록 */
.list {
    color: #000000;
    text-align: center;
    font-family: "NanumGothic-Bold", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    width: 290px;
  }

/* 실험도구 이미지 */
.image {
    width: 170px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    object-fit: cover;
  }

/* 선반목록 */
.box_list {
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 350px;
    height: 35px;
    text-align: center;
    text-decoration-line: none;
    background-color: gainsboro;    
    color: #000000;    
    font-family: "NanumGothic-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

/* 상단 검색창 */
.search-bar {
    width: 400px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 5px #888;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    padding: 10px 10px 10px 35px;
    background-image: url("./img/search1.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 15px 15px;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
}

.search-button {
    size: 20px, 20px;
    border-radius: 10%;
    border-style: none;
    font-size: large;
    color: white;
    background-color: #58a6ff;
}

/* 하단 툴바 */
.tab-bar {
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.tab {
    float: left;
    width: 25%;
}
  
.tab  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.tab  a:hover:not(.active) {
    background-color: #ccc;
}
  
.active {
    background-color: #ccc;
}
