<!DOCTYPE html>
<!-- HTML 고정 화면입니다. 게시판 기능을 구현할 수 없음으로 그냥 사용합니다.   --> 
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">  
        <title>ICPA 실험기구 검색</title>           
    </head>    
    <body>
      <table class="table_layout">  
        <!-- 상단 베터리 영역 -->         
        <tr>  
          <td>
            <div class="i-phone-x-or-newer">
              <img src="./img/battery0.svg" />
              <img src="./img/wifi0.svg" />
              <img src="./img/mobile-signal0.svg" />
              <img src="./img/left-side0.svg" />
            </div>
          </td>
        </tr>
        <!-- 검색영역 (고정)-->         
          <tr>  
              <td>
                <form action="result.html" method="post">      <!-- 파이썬으로 프로그램하고 action링크 변경 하세요. -->            
                  <input class="my-input" type="text" id="search" placeholder="Search.." >     <!--input 변수명은 "search" 입니다. -->        
                  <input type="submit" value="검색">
                </form>              
              </td>
          </tr>
          <!-- 게시글  1 -->
          <tr> 
            <td>  
              <table class="rectangle">
                <tr>
                  <td>
                    <div class="div_text">                      
                    동아리 실험실 추천해 주세요<br />
                    댓글1, 추천1, 좋아요1<br />
                    </div>
                    <br />
                  </td> 
                </tr>
              </table>
            </td>
          </tr>
          <!-- 게시글 2  -->
          <tr> 
            <td>
              <table class="rectangle">
                <tr>
                  <td>
                    <div class="div_text">                      
                        시험관 어떻게 닦나요??<br />
                        댓글2, 추천1, 좋아요1<br />
                    </div>
                  </td> 
                </tr>
              </table>
            </td>
          </tr>
          <!-- 게시글  3 -->
          <tr> 
            <td>  
              <table class="rectangle">
                <tr>
                  <td>
                    <div class="div_text">                      
                    청암 학술제 같이 할 사람 구합니다.<br />
                    댓글1, 추천1, 좋아요1<br />
                    </div>
                    <br />
                  </td> 
                </tr>
              </table>
            </td>
          </tr>
          <!-- 게시글  4 -->
          <tr> 
            <td>  
              <table class="rectangle">
                <tr>
                  <td>
                    <div class="div_text">                      
                    게시글 게시글 게시글 <br />
                    댓글1, 추천1, 좋아요1<br />
                    </div>
                    <br />
                  </td> 
                </tr>
              </table>
            </td>
          </tr>
          <!-- 툴바 영역 (고정) -->
          <tr></br><!--간격 -->  
            <td><div class="tab-bar">             
                <div class="tab-bar-item1">
                  <a href="index.html"><img src="./img/home0.svg" /></a>
                </div>
                <div class="tab-bar-item2">
                  <a href="page1.html"><img src="./img/search2.svg" /></a>
                </div>
                <div class="tab-bar-item3">
                  <a href="camera.html"><img src="./img/camera0.svg" /></a>
                </div>
                <div class="tab-bar-item4">
                  <a href="bbs.html"><img src="./img/favorites0.svg" /></a>
                </div>
                <div class="tab-bar-item5">
                  <a href="list.html"><img src="./img/iconmonstr-menu-1-10.svg" /></a>
                </div>
              </div></td>
          </tr>   
        </table>
    </body>
</html>