{% extends "layout.html" %}

{% block content %}
<!-- 검색영역 (고정)-->

<div class = 'rectangle'>
  <form action="/home" method="post">      <!-- 파이썬으로 프로그램하고 action링크 변경 하세요. -->            
    <input class="search-bar" type="text" name="search" placeholder="Search..." >     <!--input 변수명은 "search" 입니다. -->
  </form>

  <!-- 앱사용 설명서 내용 -->
  <div class="shadow-rect">
    <div class="title">웹 사용 설명서 (도움말)</div> 
    <br />                
    <div class="text">
      궁금한 실험 기구가 있다면 검색해주세요!<br />
      카메라를 통한 검색도 가능해요!<br />
      실험 기구를 활용한 실험도 확인할 수 있어요! <br />
    </div>
    <br />
  </div>

  <!-- 오늘의 실험 내용  -->
  <div class="shadow-rect">
    <div class="title">오늘의 실험</div>
    <ol class="list">
      <li>
        화산 모형 실험
        <br />
        -화산의 분출 과정을 모형을 통해 재현해보자.
        <br />
        -화학 반응을 통해 이산화탄소가 생성되는 것을 관찰하자.
      </li>
      <li>
        전도성 물질 실험
        <br />
        -다양한 물질의 전도성을 테스트해보자.
        <br />
        -전기가 통하는 물질과 그렇지 않은 물질을 구분해보자.
      </li>
    </ol>
  </div>
  <!-- 실험 참고 사이트 -->

  <div class="shadow-rect">
  <div class="title">실험 참고 사이트</div>
    <ul class="list">
      <li><a href="https://www.sciencebuddies.org/" target="_blank">Science Buddies</a></li>
      <li><a href="https://www.education.com/" target="_blank">Education.com</li></a></li>                      
      <li><a href="https://www.exploratorium.edu/" target="_blank">Exploratorium</li></a></li>
    </ul>
  </div>
</div>
{% endblock %}