<!DOCTYPE html>
<!-- 첫페이지 입니다. 어떻게 동작할지 논의 필요 (예를들면, 자동으로 page1.html로 넘어가도록 javascript 추가 등)  --> 
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href= "../static/style.css"/>  
        <title>ICPA 실험기구 검색</title>    
        <style>
            img { display : block;  margin : auto; }            
        </style>    
    </head>    
    <body>
        <table class="table_layout">
            <tr>
                <td><a href= '/home'><img src="../static/img/main.png"/></a></td>
            </tr>    
        </table>
    </body>
</html>