<!DOCTYPE html>
<!-- HTML 고정 화면입니다. 오늘의 실험내용등 변경 없을 것임으로 그냥 사용합니다.   --> 
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href= "../static/style.css"/>  
        <title>ICPA 실험기구 검색</title>
    </head>    
    <body>      
        {% block content %}
        {% endblock %}
        <br>
        <br>
        <br>
        <ul class="tab-bar">
            <li class="tab"><a href="/"><img src="../static/img/home0.svg" /></a></li>
            <li class="tab"><a href="/home"><img src="../static/img/search2.svg" /></a></li>
            <li class="tab"><a href="/camera"><img src="../static/img/camera0.svg" /></a></li>
            <li class="tab"><a href="/list"><img src="../static/img/iconmonstr-menu-1-10.svg" /></a></li>
        </ul>
    </body>
</html>